header {
    height: 10vh;
}

header > nav {
    height: 65px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #A5D6D9;
}

.create-content {
    width: 800px;
    position: absolute;
    margin-left: 10%;
    margin-top: 1%;
    /*margin-bottom: 1%;*/
}

#main {
    height: 84vh;
    display: flex;
    flex-direction: column;

}
.header-create {
    margin: 2%;
}

.title-container {
    display: block;
    margin-bottom: 3%;
}

.text-container {
    display: block;
    margin-bottom: 5%;
}

#title-post {
    height: 44px;
    font-size: 20px;
    width: 400px;
}

#text-post {
    height: 240px;
    font-size: 16px;
}

.title-label {
    font-size: 32px;
}

.text-label {
    font-size: 32px;
}

.send-button-container > button {
    font-size: 18px;
    background: white;
    color: black;
    height: 45px;
    width: 135px;
}

.send-button-container {
    width: 170px;
    /*margin-right: 25%;*/
    margin-bottom: 12px;
}


footer {
    height: 6vh;
    text-align: center;
    background: #555555;
    color: white;
    font-size: 14px;
}